# Python / Entorno virtual
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Secretos y credenciales (REGLA DE ORO DE SEGURIDAD)
.env
.env.*
*.key
*.pem
data/*.pem
*@*.pem
oci_api_key*

# Credenciales de Oracle Cloud Database (mTLS Wallet)
*.zip
data/*.zip
data/wallet/
data/Wallet_*/

# Logs y caches
*.log
logs/
.pytest_cache/

# Archivos de datos crudos locales
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/communitylab.db